{% extends 'base.html' %}

{% block body %}
<div class="container" style="padding : 50px;">
    
    <div class="row" style="height : 100px;">

        <div class="col-1">
            <img src="{{pet.photo_url}}" style="width:60px; height:80px;">
        </div>
        <div class="col-4">
            <h1>{{pet.name}}</h1>
        </div>
    </div>
    <div class="row"  style="height : 100px;">
        <div class="col-5">
        <h2><b>Species:</b> {{pet.species}} </h2>
        </div>
    </div>
    <div class="row"  style="height : 100px;">
        <div class="col-3">
        <h2><b>Age:</b> {{pet.age}}</h2>
        </div>
    </div>
    <a href="/edit_pet/{{pet.id}}">Edit Pet</a>
    
</div>

{% endblock %}